  .grid {
    flex: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    font-size: 0.85rem;
    min-height: calc(100vh - 109px);
    width: 100%;
  }

  .grid .cell {
    padding-left: 1%;
    padding-right: 1%;
  }

  .grid .columnHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .grid .columnHeaderTitle {
    font-size: 0.95rem;
    font-weight: 600;
  }

  .grid .footerContainer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(0, 0, 0, 0.15);
  }

/* $shadow-hover: 
    0px 6px 2.5px -4px rgba(0,0,0,0.25), 
    0px 4px 5px 0px rgba(0,0,0,0.175), 
    0px 2px 12.5px 0px rgba(0,0,0,0.15);
  
  @mixin button (
    $backgroundColor: var(--secondary-main),
    $shadow:(
    0px 3px 1.25px -2px rgba(0,0,0,0.25), 
    0px 2px 2.5px 0px rgba(0,0,0,0.175), 
    0px 1px 6.25px 0px rgba(0,0,0,0.15)),
  ){
    transition-duration: 150ms;
    justify-content: center;
    border-radius: 25px;
    font-size: 1.1rem;
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
    width: 200px;
    height: 40px;
    color: #fff;
    box-shadow: $shadow;
    background-color: $backgroundColor;
  }

  .add {
    @include button($backgroundColor: var(--info-main));
  }

  .add:hover {
    @include button($backgroundColor: var(--info-dark), $shadow: $shadow-hover);
  }

  .cancel {
    @include button($backgroundColor: var(--warning-main));
  }

  .cancel:hover {
    @include button($backgroundColor: var(--warning-light), $shadow: $shadow-hover);
  }

  .delete {
    @include button($backgroundColor: var(--error-main));
  }

  .delete:hover {
    @include button($backgroundColor: var(--error-dark), $shadow: $shadow-hover);
  } */